ion-content {
    background: linear-gradient(rgb(72, 117, 162), rgb(197, 126, 85)) no-repeat;
}





ion-button {
    font-weight: 300;
}

ion-img{
    position: relative;
    padding-bottom: 5px;
  }

.error{
    white-space: normal;
    color:red
}