<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button> 
      </ion-buttons>
      <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
          <form [formGroup]="formularioUsuario" novalidate>
            <ion-list>            
              <ion-item [hidden]=activeName>
                <ion-icon name="person" item-left></ion-icon>
                <ion-label stacked>Nombre: </ion-label>
                <ion-input formControlName="nombre" type="text" placeholder="Nombre" name="nombre" required maxlength="30" [(ngModel)]="userData.name"> </ion-input>
              </ion-item>
              <ion-item *ngIf="formularioUsuario.get('nombre').errors && formularioUsuario.get('nombre').dirty">
                <p *ngIf="formularioUsuario.get('nombre').hasError('required')" class="error">
                  El nombre es requerido.
                </p>
                <p *ngIf="formularioUsuario.get('nombre').hasError('maxlength')" class="error">
                  El maximo de caracteres permitidos es 30.
                </p>
              </ion-item>
              <ion-item [hidden]=activeEmail>
                <ion-icon name="at" item-left></ion-icon>
                <ion-label stacked>Correo: </ion-label>
                <ion-input formControlName="correo" type="email" placeholder="correo" name="correo" required maxlength="30" [(ngModel)]="userData.email"></ion-input>
              </ion-item>
              <ion-item *ngIf="formularioUsuario.get('correo').errors && formularioUsuario.get('correo').dirty">
                <p *ngIf="formularioUsuario.get('correo').hasError('required')" class="error">
                  El correo es requerido.
                </p>
                <p *ngIf="formularioUsuario.get('correo').hasError('email')" class="error">
                  El correo electronico indicado no es valido.
                </p>
              </ion-item>
              <ion-item [hidden]=activePhone>
                <ion-icon name="call" item-left></ion-icon>
                <ion-label stacked>Teléfono: </ion-label>
                <ion-input formControlName="numero_contacto" type="text" placeholder="Numero de contacto" name="numero_contacto" required maxlength="10" [(ngModel)]="userData.telefono"></ion-input>
              </ion-item>
              <ion-item *ngIf="formularioUsuario.get('numero_contacto').errors && formularioUsuario.get('numero_contacto').dirty">
                <p *ngIf="formularioUsuario.get('numero_contacto').hasError('required')" class="error">
                  El numero es requerido.
                </p>
                <p *ngIf="formularioUsuario.get('numero_contacto').hasError('maxlength')" class="error">
                  El numero de celular no puede contener más de 10 caracteres
                </p>
                <p *ngIf="formularioUsuario.get('numero_contacto').hasError('minlength')" class="error">
                  El numero de celular debe contener 10 caracteres
                </p>
                <p *ngIf="formularioUsuario.get('numero_contacto').hasError('pattern')" class="error">
                  No se permite letras
                </p>
              </ion-item>
               <ion-item [hidden]=activeCity>
                <ion-icon name="locate" item-left></ion-icon>
                <ion-label stacked>Ciudad: </ion-label>
                <ion-input formControlName="ciudad" type="text" name="ciudad" [(ngModel)]="userData.ciudad" value="Quito" disabled></ion-input>
              </ion-item>
               <ion-item [hidden]=activeSector>
               <ion-icon name="map" item-left></ion-icon>
                <ion-label>Sector: </ion-label>
                <ion-input formControlName="sectorI" type="text" name="sectorI" [(ngModel)]="userData.sector"></ion-input>
                  <ion-select formControlName="sectorS" [(ngModel)]="selectedSingleZone" [compareWith]="compareFn" (ionChange)="singleChange()">
                    <ion-select-option *ngFor="let zone of zones" [value]="zone">{{zone.nombre_sector}}</ion-select-option>
                  </ion-select>
              </ion-item>

              <ion-item>
               <ion-icon name="help" item-left></ion-icon>
                  <ion-select formControlName="pregunta" name="pregunta" [(ngModel)]="userData.pregunta" [compareWith]="compareFnP" (ionChange)="preguntaChange()">
                    <ion-select-option *ngFor="let pregunta of preguntas" [value]="pregunta">{{pregunta.descripcion_preguntas}}</ion-select-option>
                  </ion-select>
                <ion-input formControlName="respuesta" type="text" name="respuesta" required maxlength="30" [(ngModel)]="userData.respuesta"></ion-input>
              </ion-item>
              <ion-item *ngIf="formularioUsuario.get('respuesta').errors && formularioUsuario.get('respuesta').dirty">
                <p *ngIf="formularioUsuario.get('respuesta').hasError('maxlength')" class="error">
                  La respuesta no puede contener más de 30 caracteres
                </p>
                <p *ngIf="formularioUsuario.get('respuesta').hasError('minlength')" class="error">
                  La respuesta no puede contener menos de 3 caracteres
                </p>
              </ion-item>

            </ion-list>
          </form>
          <div class="padding">
            <ion-button expand="full" type="submit" (click)="actualizarDatos()">Actualizar</ion-button>
          </div>
          <div class="padding">
            <ion-button expand="full" type="submit" (click)="cambiarPassword()">Cambiar Contraseña</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
