<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-menu-button></ion-menu-button> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollX="true" class="scroll">

  <!--<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>-->

<div id="map"></div>
<div padding-horizontal id="panel" claas="letra"></div>


</ion-content>
