ion-content{
  --background: linear-gradient(rgb(72, 117, 162), rgb(197, 126, 85)) no-repeat;
      
      .scroll{
        height: calc(100% - 250px);
      }
}

ion-toolbar {
  --background: linear-gradient(rgb(156, 159, 161), rgb(243, 195, 168)) no-repeat;
}

/*ion-content{
  --background: linear-gradient(rgb(197, 126, 85), rgb(72, 117, 162)) no-repeat;
}*/

  #map {
    width: 100%;
    height: 60vh;
    transition: opacity 150ms ease-in;
    display: block;
    &.show-map{
      opacity: 1;
    }
  }

  .map-wrapper {
    position: relative;
   
    #map_center {
      position: absolute;
      z-index: 99;
      height: 40px;
      width: 40px;
      top: 50%;
      left: 50%;
      margin-left: -21px;
      margin-top: -41px
    }
  }