<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-menu-button></ion-menu-button> </ion-buttons>
    <ion-row>
    <ion-col text-start padding-top>
    <!--  <ion-title>Share current location</ion-title> -->
    </ion-col>
    <ion-col text-end>
      <ion-button (click)="loadMap()" shape="round" fill="outline">
        <ion-icon slot="start" name="locate"></ion-icon>
        Donde estoy?
      </ion-button>
    </ion-col>
  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="3" size-lg="2" size-xs="13">
        <div padding>
          <form novalidate>  
            <ion-list> 
              <div class="map-wrapper">
                  <div id="map_center">
                    <img src="../../assets/icon/center_marker.png" />
                  </div>
                  <div #map id="map"></div>
              </div>
            </ion-list>
            <div id="address">
              <span>{{address}}</span>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

 <!-- <div class="map-wrapper">
    <div id="map_center">
      <img src="../../assets/icon/center_marker.png" />
    </div>
    <div #map id="map"></div>
  </div>
    <ion-button (click)="shareLocation(address)" shape="round" fill="outline">
      <ion-icon slot="start" name="shareLocation"></ion-icon>
      Share Location with my friends
    </ion-button>
  <div id="address">
    <span>{{address}}</span>
  </div>-->
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button (click)="shareLocation(address)" shape="round" fill="outline">
            Enviar mi ubicación
          </ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>