<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-round-back" (click)="regresar()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="letra">
    <ion-label>Seleccione un sector: </ion-label>
      <ion-select [(ngModel)]="selectedSingleZone" [compareWith]="compareFn" (ionChange)="singleChange()">
        <ion-select-option *ngFor="let zone of zones" [value]="zone">{{zone.nombre_sector}}</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-virtual-scroll [items]="sector" [hidden]=habilitarLista>
    <ion-item *virtualItem="let item">
      <ion-avatar slot="start">
        <ion-icon name="paper-plane" class="alinearIcono"></ion-icon>
      </ion-avatar>
      {{ item.nombre_zona }}
    </ion-item>
  </ion-virtual-scroll>
 
  <ion-infinite-scroll threshold="100px" [hidden]=habilitarLista (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
