ion-toolbar {
    --background: linear-gradient(rgb(156, 159, 161), rgb(243, 195, 168)) no-repeat;
}

ion-content{
    --background: linear-gradient(rgb(197, 126, 85), rgb(72, 117, 162)) no-repeat;
}

.letra {
    font-size: 21px;
    --background: linear-gradient(rgb(243, 195, 168), rgb(156, 159, 161)) no-repeat;
}

.alinearIcono {
    font-size: xx-large;
    padding-bottom: 10px;
}
