ion-grid {
    width:100%;
    height: 100%;
    background: #ffffff;
}

ion-row {
    height: 80%;
}

ion-col {
    border: 1px solid #488aff;
    background: linear-gradient(rgb(72, 117, 162), rgb(97, 61, 40)) no-repeat;
}

ion-button {
    font-weight: 300;
    padding-top: 10px;
}

@media (min-width: 240px) and (max-width: 728px) {
    ion-grid {
        background: linear-gradient(rgb(72, 117, 162), rgb(97, 61, 40)) no-repeat;
    }
    ion-col {
        border: none;
    }
}

.alinearBoton {
    padding-left: 98px;
}

.error{
    white-space: normal;
    color:red
}