<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button> 
      <ion-button (click)="allMuseumMap()">
        <ion-icon name="pin"></ion-icon>All Friends
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Search Mapjs</ion-label>
      <ion-input type="text" placeholder="Search friends..." (input)="searchMaps($event)"></ion-input>
    </ion-item>

    <ion-list *ngIf="!isfiltered">
      <ion-item *ngFor="let museum of museumData" (click)="getMuseumDetails(museum)">
        <ion-label>
          <h2><b><ion-icon name="pin"></ion-icon>{{ museum.nombre_friend }}</b></h2>
          <p>Direccion: {{ museum.direccion_position }}</p>
      </ion-label> 
      </ion-item>
    </ion-list>

    <ion-list *ngIf="isfiltered">
      <ion-item *ngFor="let museum of filteredMuseum" (click)="getMuseumDetails(museum)">
        <ion-label>
          <h2><b><ion-icon name="pin"></ion-icon>{{ museum.nombre_friend }}</b></h2>
          <p>Direccion: {{ museum.direccion_position }}</p>
      </ion-label> 
      </ion-item>
    </ion-list>
  </div>  
</ion-content>

<!---
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-menu-button></ion-menu-button> </ion-buttons>
    <ion-title>Location of my friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="!isfiltered">
    <ion-item *ngFor="let museum of museumData">
    <ion-label>
          <h2><b><ion-icon name="pin"></ion-icon>{{ museum.nombre_friend }}</b></h2>
          <p>Direccion: {{ museum.direccion_position }}</p>
      </ion-label>  
    </ion-item>
  </ion-list>

  <div #map id="map"></div>
</ion-content>
-->