<ion-header>
  <ion-toolbar>
    <ion-title>
      Unidad Familiar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="home">
  <img src="../../assets/icon/favicon.png" class="logo"/>

   <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Welcome to Unidad Familiar</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid >
    <ion-row>
      <ion-col center text-center>
        <button ion-button full color="success" (click)="signup()">Sign up</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col center text-center>
        <button ion-button full color="lightText" (click)="login()">Log in</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
