<!--<ion-header>
  <ion-toolbar>
    <ion-title><b>Bienvenido a Unidad Familiar</b></ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="./assets/imgs/piedepagina.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle text-center><b>Hola</b></ion-card-subtitle>
      <ion-card-title text-center><b>Bienvenido a Unidad Familiar</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p text-center><b>Inicien con la mejor aplicación para unir a la familia.</b></p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full" color="primary" (click)="login()">Ingresar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" expand="full" color="danger" (click)="signup()">Registrarse</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>