<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Unidad Familiar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="home">
  <img src="../../assets/icon/favicon.png" class="logo"/>

   <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Welcome to Unidad Familiar</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid >
    <ion-row>
      <ion-col center text-center>
        <button ion-button full color="success" (click)="signup()">Sign up</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col center text-center>
        <button ion-button full color="lightText" (click)="login()">Log in</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content> -->

<ion-header>
  <ion-toolbar>
    <!-- <ion-title>landing</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="./assets/imgs/piedepagina.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Unidad Familiar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Starting point for Unidad Familiar Application with Authentication.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" expand="full" color="danger" (click)="signup()">Register</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>
