<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Actualizar la información de amigos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-list-header>Escoja uno: </ion-list-header>
  <ion-item>
    <ion-label>Amigo: </ion-label>
      <ion-select [(ngModel)]="selectedSingleEmployee" [compareWith]="compareFn" (ionChange)="singleChange()">
        <ion-select-option *ngFor="let user of friends" [value]="user">{{user.nombre_friend}}
        </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<form (ngSubmit)="presentAlert()">
<br />
  <ion-card>
      <ion-card-content>
        <ion-list>
            <ion-item>
              <ion-icon ios="ios-mail" md="md-mail" item-left></ion-icon>
              <ion-label stacked>Email:</ion-label>
              <ion-input type="text" name="email" [(ngModel)]="userData.email_friend" value={{userData.email_friend}}></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="person" item-left></ion-icon>
              <ion-label stacked>Name:</ion-label>
              <ion-input type="text" name="name" [(ngModel)]="userData.nombre_friend" value={{userData.nombre_friend}}></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="call" item-start></ion-icon>
              <ion-label stacked>CellPhone:</ion-label>
              <ion-input type="text" name="telefono" [(ngModel)]="userData.telefono_friend" value={{userData.telefono_friend}}></ion-input>
            </ion-item>
          </ion-list>
      </ion-card-content>
    </ion-card>
  </form>
  <div text-center>
  <br />
    <ion-button block type="submit" (click)="updateFriend()" [hidden]=buttonUpdate>Update Friends</ion-button>
   </div>
  <div text-center>
  <br />
    <a ion-button block clear (click)="cancelar()">
      Cancel
    </a>
  </div>
</ion-content>
