<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <ion-icon name="arrow-round-back" (click)="regresar()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollX="true" class="scroll">
  <div id="map"></div>
  <div padding-horizontal id="panel" claas="letra"></div>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button (click)="arriveFriend(address)" shape="round" fill="outline">
            Como llegar donde mi amigo?
          </ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>